body{
    margin: 0px;
    padding: 0px;
    border: none;
    background-color: rgb(20, 18, 18);
    position: relative;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    user-select: none;
}
html{
    scroll-behavior: smooth;
}

/* Background Starts Here */

.background{
    width: 110vw;
    height: 110vh;
    z-index: -100;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex: 1 1 200px;
    overflow: hidden;
    position: fixed;
    top: -5vh;
    bottom: -5vh;
    left: -5vw;
    right: -5vw;
    gap: 5px;
}
.background::before{
    content: "";
    width: 100%;
    height: 100%;
    background: linear-gradient(rgb(20, 18, 18),rgb(20, 18, 18),rgb(0, 191, 255),rgb(20, 18, 18),rgb(20, 18, 18));
    animation: animate 6s linear infinite;
    position: absolute;
    z-index: -200;
}
.background span{
    width: 100px;
    height: 100px;
    background-color: rgb(75, 73, 73);
    /* transition: 1.5s; */
    display: block;
    gap: 10px;
}
/* .background span:hover{
    background-color: rgb(0, 191, 255);
    transition: 0s;
} */

/* Scroll Back Button Stars Here */

.Scroll{
    position: fixed;
    z-index: 900;
    bottom: 10px;
    left: 90vw;
    right: 10vw;
    width: 90px;
    height: 50px;
    border-radius: 30px;
    border: 3px solid rgb(0, 204 , 255);
    color: rgb(0, 204, 255);
    background-color: transparent;
    display: none;
}

.Scroll:hover{
    cursor: pointer;
} 

/* navbar starts here! */

nav{
    width: 200px;
    height: 100%;
    background-color: rgba(0, 204, 255, 0.062);
    backdrop-filter: blur(10px);
    position: fixed;
    z-index: 999;
    top: 0px;
    bottom: 0px;
    left: -200px;
    transition: 1s;
    overflow: hidden;
}
nav ul{
    width: 100%;
    height: 100%;
    margin: 0px;
}
nav ul .menu-btn-holder{
    height: 20px;
}
nav ul li{
    list-style: none;
    padding: 10px;
    position: relative;
    margin: 0px;
    transition: 1s;
}
nav ul li a{
    width: 100%;
    height: 100%;
    /* color: rgb(0, 204, 255); */
    color: rgb(20, 18, 18);
    text-decoration: none;
    padding: 10px;
    font-size: 20px;
    transition: 0.5s;
}
nav ul li a:hover{
    background-color: rgb(0, 191, 255);
}
nav ul li .menu-btn{
    width: 30px;
    height: 30px;
    /* fill: rgb(0, 204, 255); */
    fill: rgb(20, 18, 18);
    position: absolute;
    top: 5px;
    right: 50px;
    display: block;
    transition: 1s;
}
nav ul li .close-btn{
    width: 30px;
    height: 30px;
    /* fill: rgb(0, 204, 255); */
    fill: rgb(20, 18, 18);
}
nav ul li svg{
    transition: 0.5s;
    padding: 0px;
}
nav ul li svg:hover{
    cursor: pointer;
}

/* home section starts here! */

.container{
    width: 500vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-flow: row;
    overflow-x: scroll;
}
.container::-webkit-scrollbar{
    width: 0px;
    height: 0px;
}
.container main{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: visible 1s ease-out;
}
.container main .wrapper{
    width: 80%;
    height: 80%;
    background-color: rgb(70, 69, 69);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    position: relative;
    border-radius: 30px;
    box-shadow: 0px 0px 5px rgb(0, 204, 255) , 0px 0px 10px rgb(0, 204, 255);
}
.container main .wrapper .intro{
    display: flex;
    align-items: center;
    justify-content: center;
    /* flex-flow: column; */
    width: 100%;
    position: relative;
    margin-top: 100px;
}
.container main .wrapper h1{
    font-size: 50px;
    margin-bottom: 0px;
    position: absolute;
    top: 70px;
    animation: colorChange 2.5s linear infinite;
}
.container main .wrapper .intro img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 40px;
    border: 3px solid rgb(0, 204, 255);
    box-shadow: 0px 0px 5px rgb(0, 204, 255) , 0px 0px 10px rgb(0, 204 , 255);
    transition: 1s;
}
.container main .wrapper .intro img:hover{
    scale: 1.3;
}
.container main .wrapper .intro h2{
    color: rgb(0, 204, 255);
    font-size: 40px;
    margin: 0px;
    text-align: left;
    width: 500px;
    overflow: auto;
}
.container main .wrapper .intro h2 span{
   color: white;
}
.container main .wrapper button{
    height: 50px;
    width: 100px; 
    font-size: 15px;
    background-color: rgb(0, 204 , 255);
    border: none;
    position: absolute;
    bottom: 70px;
    border-radius: 10px;
}
.container main .wrapper button:hover{
    cursor: pointer;
}

/* About Section Starts Here! */

.container .about{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    animation: visible 1s ease-out;
}
.container .about .wrapper{
    width: 80%;
    height: 65%;
    background-color: rgb(70, 69, 69);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column; 
    position: relative;
    border-radius: 30px; 
    box-shadow: 0px 0px 5px rgb(0, 204, 255) , 0px 0px 10px rgb(0, 204, 255); 
}
.container .about .wrapper .intro{
    /* display: flex;
    align-items: center;
    justify-content: start;
    flex-flow: column; */
    width: 100%;
}
.container .about .wrapper h1{
    font-size: 40px;
    margin: 0px;
    color: rgb(0, 204 , 255);
    position: absolute;
    top: 40px;
}
.container .about .wrapper .intro p{
    font-size: 25px;
    padding: 30px;
    margin: 0px;
    color: rgb(165, 233, 250);
}
.container .about .wrapper .intro p::first-letter{
    padding-left: 50px;
}

/* skills section starts here */

.container .skills{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    animation: visible 1s ease-out;
}
.container .skills h1{
    font-size: 50px;
    text-align: center;
    color: rgb(0, 204 , 255);
}
.container .skills .wrapper{
    width: 80%;
    height: 75vh;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.container .skills .wrapper .skill-container{
    width: 85%;
    height: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
    overflow-y: scroll;
}
.container .skills .wrapper .skill-container::-webkit-scrollbar{
    width: 5px;
    background-color: rgba(0, 191, 255, 0.164);
    backdrop-filter: blur(10px);
}
.container .skills .wrapper .skill-container::-webkit-scrollbar-thumb{
    background-color: rgb(0, 191, 255);
    border-radius: 20px;
}
.container .skills .wrapper .skill-container .card{
    background-color: #464545;
    padding: 20px;
    width: 30%;
    height: 30%;
    border: 2px solid rgb(0, 204 , 255);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    transition: 1s;
}
.container .skills .wrapper .skill-container .card:hover{
    background-color: rgb(0, 204 , 255);
    transition: 0s;
}
.container .skills .wrapper .skill-container .card svg{
    width: 80px;
    height: 80px; 
    margin: 0px;
    padding: 0px;
}
.container .skills .wrapper .skill-container .card .text{
    width: 100%;
    text-align: center;
    color: white;
}
.container .skills .wrapper .skill-container .card:nth-child(1) .text{
    width: 100%;
    text-align: center;
    color: white;
    margin-top: 0px;
    margin-bottom: 10px;
}
.container .skills .wrapper .skill-container .card .rating .checked{
    color: goldenrod;
}

/* Projects Sections Starts Here */

.container .projects{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: visible 1s ease-out;
}
.container .projects .wrapper{
    width: 80%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    overflow: hidden;
    position: relative;
}
.container .projects .wrapper h1{
    color: rgb(0, 191, 255);
    font-size: 50px;
    margin-bottom: 30px;
    position: absolute;
    top: 0px;
}
.container .projects .wrapper .projects-container{
    width: 90%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row;
    flex-wrap: wrap; 
    gap: 20px;
    overflow-x: hidden;
    overflow-y: scroll;
    /* flex: 1 1 200px; */
}
.container .projects .wrapper .projects-container::-webkit-scrollbar{
    width: 5px;
    background-color: rgba(0, 191, 255, 0.164);
    backdrop-filter: blur(10px);
}
.container .projects .wrapper .projects-container::-webkit-scrollbar-thumb{
    background-color: rgb(0, 191, 255);
    border-radius: 20px;
}
.container .projects .wrapper .projects-container .cards{
    width: 180px;
    height: 180px;
    background-color: rgb(70, 69, 69);
    border: 2px solid rgb(0, 191, 255);
    border-radius: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: column;
    position: relative;
}
.container .projects .wrapper .projects-container .cards h2{
    color: rgb(0, 204 , 255);
    text-align: center;
    font-size: 25px;
}
.container .projects .wrapper .projects-container .cards button{
    width: 120px;
    height: 40px;
    background-color: rgb(0, 191, 255);
    border: 2px solid rgb(0, 191, 255);
    color: rgb(20, 18, 18);
    font-size: 18px;
    border-radius: 20px;
    position: absolute;
    bottom: 10px;
}
.container .projects .wrapper .projects-container .cards button a{
    text-decoration: none;
    color: rgb(20, 18, 18);
}
.container .projects .wrapper .projects-container .cards button:hover{
    cursor: pointer;
}

/* Contact section starts here */

.container .contact{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    animation: visible 1s ease-out;
}
.container .contact .wrapper{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    flex-wrap: wrap;
    flex: 1 1 200px;
    overflow: hidden;
}
.container .contact .wrapper form{
    z-index: 6;
    position: absolute;
    top: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    height: 90vh;
    width: 400px;
    gap: 20px;
    background: transparent;
    backdrop-filter: blur(10px);
    border-radius: 30px;
    box-shadow: 0px 0px 5px rgb(0, 191, 255) , 0px 0px 10px rgb(0, 191, 255);
}
.container .contact .wrapper form h1{
    color: rgb(0, 191, 255);
    font-size: 40px;
    margin: 0px
}
.container .contact .wrapper form input{
    font-size: 20px;
    color: rgb(0, 191, 255);
    width: 300px;
    height: 40px;
    outline: none;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid rgb(0, 191, 255);
    border-radius: 0px;
    padding-left: 10px;
}
.container .contact .wrapper form textarea{
    font-size: 20px;
    color: rgb(0, 191, 255);
    width: 300px;
    height: 100px;
    outline: none;
    background-color: transparent;
    border: 2px solid rgb(0, 191, 255);
    border-radius: 10px;
}
.container .contact .wrapper form input[type = submit]{
    width: 150px;
    transition: 1s;
    border-radius: 20px;
    border: 2px solid rgb(0, 191, 255);
}
.container .contact .wrapper form input[type = button]{
    width: 150px;
    transition: 1s;
    border-radius: 20px;
    border: 2px solid rgb(0, 191, 255);
}
.container .contact .wrapper form input[type = submit]:hover{
    color: rgb(75, 73, 73);
    background-color: rgb(0, 191, 255);
    cursor: pointer;
}
.container .contact .wrapper form input[type = button]:hover{
    color: rgb(75, 73, 73);
    background-color: rgb(0, 191, 255);
    cursor: pointer;
}
.container .contact .wrapper form input::placeholder,textarea::placeholder{
    color: rgb(0, 191, 255);
    padding-left: 10px;
}
.container .contact .wrapper form input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
} 


/* Media Queries */

@media screen and (max-width : 850px){
    .Scroll{
        position: fixed;
        z-index: 900;
        bottom: 10px;
        left: 83vw;
        right: 10vw;
        width: 90px;
        height: 50px;
        border-radius: 30px;
        border: 3px solid rgb(0, 204 , 255);
        color: rgb(0, 204, 255);
        background-color: transparent;
        display: none;
    }
    nav ul .menu-btn-holder{
        height: 20px;
    }
    .container main .wrapper h1{
        font-size: 50px;
        margin: 0px;
        position: absolute;
        top: 70px;
        animation: colorChange 2.5s linear infinite;
    }
    .container main .wrapper .intro img{
        width: 150px;
        height: 150px;
        border-radius: 50%;
        margin: 0px;
        margin-top: 90px;
    }
    .container main .wrapper .intro{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-flow: column;
        margin: 0px;
    }
    .container main .wrapper button{
        height: 40px;
        width: 100px;
        background-color: rgb(0, 204 , 255);
        border: none;
        position: absolute;
        bottom: 20px;
    }
    .container .about .wrapper .intro p{
        font-size: 18px;
        padding: 10px;
    }
    .container main .wrapper .intro h2{
        color: rgb(0, 204, 255);
        font-size: 30px;
        width: 350px;
    }
    .container .about .wrapper h1{
        font-size: 35px;
        margin: 0px;
        color: rgb(0, 204 , 255);
        position: absolute;
        top: 25px;
    }
    .container .skills .wrapper .skill-container::-webkit-scrollbar{
        width: 5px;
        background-color: rgba(0, 191, 255, 0.164);
        backdrop-filter: blur(10px);
    }
    .container .skills .wrapper .skill-container::-webkit-scrollbar-thumb{
        background-color: rgb(0, 191, 255);
        border-radius: 20px;
    }
    .container .skills .wrapper .skill-container .card{
        background-color: #464545;
        padding: 20px;
        width: 30%;
        height: 30%;
        border: 2px solid rgb(0, 204 , 255);
    }
    .container .skills .wrapper .skill-container .card svg{
        width: 60px;
        height: 60px;
    }
    .container .skills .wrapper .skill-container .card:nth-child(1) svg{
        width: 40px;
        margin: 0px;
        padding: 0px;
    }
    .container .contact .wrapper span{
        width: 105px;
        height: 105px;
    }
    .container .projects .wrapper{
        width: 80%;
        height: 90%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-flow: column;
        overflow: hidden;
    }
    .container .projects .wrapper h1{
        color: rgb(0, 191, 255);
        font-size: 50px;
        margin-bottom: 30px;
        position: static;
    }
    .container .projects .wrapper .projects-container{
        width: 90%;
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: row;
        flex-wrap: wrap; 
        gap: 20px;
        overflow-x: hidden;
        overflow-y: scroll;
        flex: 1 1 200px;
    }
}

@media screen and (max-width : 550px){
    body{
        width: 100vw;
        height: 100vh;
        overflow: hidden;
    }
    .background{
        width: 110vw;
        height: 110vh;
        z-index: -100;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        flex: 1 1 200px;
        overflow: hidden;
        position: fixed;
        top: -5vh;
        bottom: -5vh;
        left: -5vw;
        right: -5vw;
        gap: 5px;
    }
    .background::before{
        content: "";
        width: 100%;
        height: 100%;
        background: linear-gradient(rgb(20, 18, 18),rgb(20, 18, 18),rgb(0, 191, 255),rgb(20, 18, 18),rgb(20, 18, 18));
        animation: animate 6s linear infinite;
        position: absolute;
        z-index: -200;
    }
    .background span{
        width: 71px;
        height: 71px;
        background-color: rgb(75, 73, 73);
        /* transition: 1.5s; */
        display: block;
        gap: 10px;
    }
    .Scroll{
        position: fixed;
        z-index: 900;
        bottom: 10px;
        left: 75vw;
        right: 10vw;
        width: 70px;
        height: 40px;
        border-radius: 30px;
        border: 3px solid rgb(0, 204 , 255);
        color: rgb(0, 204, 255);
        background-color: transparent;
        display: none;
    }
    nav ul .menu-btn-holder{
        height: 20px;
    }
    .container{
        width: 100vw;
        height: 500vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column;
        overflow-x: hidden;
        overflow-y: scroll;
    }
    .container main{
        width: 100vw;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .container main .wrapper{
        width: 70%;
        height: 75%;
        background-color: rgb(70, 69, 69);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: column;
        position: relative;
        border-radius: 30px;
        box-shadow: 0px 0px 5px rgb(0, 204, 255) , 0px 0px 10px rgb(0, 204, 255);
    }
    .container main .wrapper .intro{
        display: flex;
        align-items: center;
        justify-content: center;
        /* flex-flow: column; */
        width: 100%;
        position: relative;
        margin-top: 30px;
        overflow: hidden;
    }
    .container main .wrapper h1{
        font-size: 50px;
        margin-bottom: 0px;
        position: absolute;
        top: 70px;
        animation: colorChange 2.5s linear infinite;
    }
    .container main .wrapper .intro img{
        width: 170px;
        height: 170px;
        border-radius: 50%;
        margin: 40px;
        border: 3px solid rgb(0, 204, 255);
        box-shadow: 0px 0px 5px rgb(0, 204, 255) , 0px 0px 10px rgb(0, 204 , 255);
        transition: 1s;
    }
    .container main .wrapper .intro img:hover{
        scale: 1.2;
    }
    .container main .wrapper .intro h2{
        color: rgb(0, 204, 255);
        font-size: 20px;
        margin-top: 10px;
        margin-left: 10px;
        text-align: left;
        width: 250px;
        height: 100px;
        /* overflow: auto; */
    }
    .container main .wrapper .intro h2 span{
       color: white;
    }
    .container main .wrapper button{
        height: 50px;
        width: 100px; 
        font-size: 15px;
        background-color: rgb(0, 204 , 255);
        border: none;
        position: absolute;
        bottom: 30px;
        border-radius: 10px;
    }
    .container main .wrapper button:hover{
        cursor: pointer;
    }
    .container .about{
        width: 100vw;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
    }
    .container .about .wrapper{
        width: 70%;
        height: 70%;
        background-color: rgb(70, 69, 69);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: column; 
        position: relative;
        border-radius: 30px; 
        box-shadow: 0px 0px 5px rgb(0, 204, 255) , 0px 0px 10px rgb(0, 204, 255); 
    }
    .container .about .wrapper .intro{
        /* display: flex;
        align-items: center;
        justify-content: start;
        flex-flow: column; */
        width: 100%;
    }
    .container .about .wrapper h1{
        font-size: 30px;
        margin: 0px;
        color: rgb(0, 204 , 255);
        position: absolute;
        top: 10px;
    }
    .container .about .wrapper .intro p{
        font-size: 15px;
        padding: 20px;
        margin: 0px;
        color: rgb(165, 233, 250);
    }
    .container .about .wrapper .intro p::first-letter{
        padding-left: 50px;
    }
    .container .skills{
        width: 100vw;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: column;
    }
    .container .skills h1{
        font-size: 40px;
        text-align: center;
        color: rgb(0, 204 , 255);
    }
    .container .skills .wrapper{
        width: 80%;
        height: 75vh;
        background-color: transparent;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }
    .container .skills .wrapper .skill-container{
        width: 80%;
        height: 80%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        gap: 20px;
    }
    .container .skills .wrapper .skill-container::-webkit-scrollbar{
        width: 5px;
        background-color: rgba(0, 191, 255, 0.164);
        backdrop-filter: blur(10px);
    }
    .container .skills .wrapper .skill-container::-webkit-scrollbar-thumb{
        background-color: rgb(0, 191, 255);
        border-radius: 20px;
    }
    .container .skills .wrapper .skill-container .card{
        background-color: #464545;
        padding: 10px;
        width: 30%;
        height: 30%;
        border: 2px solid rgb(0, 204 , 255);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column;
        transition: 1s;
    }
    .container .skills .wrapper .skill-container .card:hover{
        background-color: rgb(0, 204 , 255);
        transition: 0s;
    }
    .container .skills .wrapper .skill-container .card svg{
        width: 50px;
        height: 50px; 
        margin: 0px;
        padding: 0px;
    }
    .container .skills .wrapper .skill-container .card .text{
        width: 100%;
        font-size: 12px;
        text-align: center;
        color: white;
    }
    .container .skills .wrapper .skill-container .card:nth-child(1) .text{
        width: 100%;
        text-align: center;
        color: white;
        margin-top: 0px;
        margin-bottom: 10px;
    }
    .container .skills .wrapper .skill-container .card .rating span{
        width: 10px;
    }
    .container .skills .wrapper .skill-container .card .rating .checked{
        color: goldenrod;
    }

    .container .projects{
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .container .projects .wrapper{
        width: 80%;
        height: 70%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column;
        overflow: hidden;
        position: relative;
    }
    .container .projects .wrapper h1{
        color: rgb(0, 191, 255);
        font-size: 50px;
        margin-bottom: 30px;
        position: static;
    }
    .container .projects .wrapper .projects-container{
        width: 90%;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: row;
        flex-wrap: wrap; 
        gap: 20px;
        overflow-x: hidden;
        overflow-y: scroll;
        /* flex: 1 1 200px; */
    }
    .container .projects .wrapper .projects-container::-webkit-scrollbar{
        width: 5px;
        background-color: rgba(0, 191, 255, 0.164);
        backdrop-filter: blur(10px);
    }
    .container .projects .wrapper .projects-container::-webkit-scrollbar-thumb{
        background-color: rgb(0, 191, 255);
        border-radius: 20px;
    }
    .container .projects .wrapper .projects-container .cards{
        width: 150px;
        height: 150px;
        background-color: rgb(70, 69, 69);
        border: 2px solid rgb(0, 191, 255);
        border-radius: 20px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-flow: column;
        position: relative;
    }
    .container .projects .wrapper .projects-container .cards h2{
        color: rgb(0, 204 , 255);
        text-align: center;
        font-size: 20px;
    }
    .container .projects .wrapper .projects-container .cards button{
        width: 130px;
        height: 40px;
        background-color: rgb(0, 191, 255);
        border: 2px solid rgb(0, 191, 255);
        color: rgb(20, 18, 18);
        font-size: 18px;
        border-radius: 20px;
        position: absolute;
        bottom: 10px;
    }
    .container .projects .wrapper .projects-container .cards button:hover{
        cursor: pointer;
    }
    .container .contact{
        width: 100vw;
        height: 100vh;
        overflow: hidden;
    }
    .container .contact .wrapper{
        width: 100vw;
        height: 90vh;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
        flex-wrap: wrap;
        flex: 1 1 200px;
        overflow: hidden;
    }
    .container .contact .wrapper form{
        z-index: 6; 
        position: absolute;
        top: 405vh; 
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: column;
        height: 75vh;
        width: 260px;
        gap: 20px;
        background: transparent;
        backdrop-filter: blur(10px);
        border-radius: 30px;
        box-shadow: 0px 0px 5px rgb(0, 191, 255) , 0px 0px 10px rgb(0, 191, 255);
    }
    .container .contact .wrapper form h1{
        color: rgb(0, 191, 255);
        font-size: 40px;
        margin: 0px
    }
    .container .contact .wrapper form input{
        font-size: 17px;
        color: rgb(0, 191, 255);
        width: 230px;
        height: 40px;
        outline: none;
        background-color: transparent;
        border: none;
        border-bottom: 2px solid rgb(0, 191, 255);
        border-radius: 0px;
        padding-left: 10px;
    }
    .container .contact .wrapper form textarea{
        font-size: 17px;
        color: rgb(0, 191, 255);
        width: 230px;
        height: 100px;
        outline: none;
        background-color: transparent;
        border: 2px solid rgb(0, 191, 255);
        border-radius: 10px;
    }
    .container .contact .wrapper form input[type = submit]{
        width: 150px;
        transition: 1s;
        border-radius: 20px;
        border: 2px solid rgb(0, 191, 255);
    }
    .container .contact .wrapper form input[type = button]{
        width: 150px;
        transition: 1s;
        border-radius: 20px;
        border: 2px solid rgb(0, 191, 255);
    }
    .container .contact .wrapper form input[type = submit]:hover{
        color: rgb(75, 73, 73);
        background-color: rgb(0, 191, 255);
        cursor: pointer;
    }
    .container .contact .wrapper form input[type = button]:hover{
        color: rgb(75, 73, 73);
        background-color: rgb(0, 191, 255);
        cursor: pointer;
    }
    .container .contact .wrapper form input::placeholder,textarea::placeholder{
        color: rgb(0, 191, 255);
        padding-left: 0px;
    }
    .container .contact .wrapper form input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    } 
}




/* Animations */

@keyframes colorChange {
    0% , 100%{
        color: white;
    }
    50%{
        color: rgb(0, 204 , 255);
    }
}

@keyframes animate 
{
  0%
  {
    transform: translateY(-100%);
  }
  100%
  {
    transform: translateY(100%);
  }
}

@keyframes visible {
    0%{
        opacity: 0%;
        scale: 0.6;
    }
    100%{
        opacity: 100%;
        scale: 1;
    }
}

